body {
  --h1-color: #FF6666; /* 연한 빨간색 */
  --h2-color: #FFA500; /* 연한 주황색 */
  --h3-color: #FFFF66; /* 연한 노란색 */
  --h4-color: #66FF66; /* 연한 초록색 */
  --h5-color: #6666FF; /* 연한 파란색 */
  --h6-color: #FF66FF; /* 연한 보라색 */
}
